/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}

.react-flow__handle {
  opacity: 0;
}

.react-flow__node {
  font-family: Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif
}

.react-flow__node.selectable.node-selected, .react-flow__node.selected {
  border-color: red;
}

.react-flow__attribution {
  display: none;
}

select {
  width: 100%;
  min-height: 20px !important;
  min-width: 65px !important;
}

h1{
  font-family: "Bebas Neue", serif !important;
  font-weight: 400;
  font-style: normal;
  transition: color 5s ease-in-out;
}

svg, path {
  transition: stroke 5s ease-in-out;
}

#logo{
  transition: border-color 5s ease-in-out;
}

a {
  font-style: normal;
  text-decoration: none;
}
